DEBUG_MODE=false
MIN_DATE="767214800"
EXPIRES="30"
URI_PROTO="https"
BASE_URI="github.com"
JITSI_URI="my.jit.si"
DEFAULT_ROOM="public"
RESULT="link"

# OEMSettings
L10N_CODE="en"
L10N_MAIL="en"
OEM_LOGO="vendor/oem_info/logo.png"
OEM_MAIL="vendor/oem_info/mail_l10n.ini"
# Mail logo should be absolute and resolvable
MAIL_LOGO="https://github.com/appstars-dev/jwtgenphp/blob/public/images/no_avatar.png?raw=true"

# Google recaptcha
GR_ENABLED=false
GR_VERSION=3
GR_SITE_KEY=""

# Defaults
DEFAULT_DATE="767214800"

# Mail server config
DISABLE_SMTP=true
SMTP_SRV="localhost"
SMTP_PORT="465"
SMTP_OPTIONS=""
SMTP_USR="foo"
SMTP_PWD="bar123&2026"
SMTP_TOPIC="You were suggested to a meeting"

# Short link generator options
SLINK_MODE = "external"
SLINK_URL = "https://localhost"
SLINK_PASSWD = "my_api_password"
SAPI_ADMIN_PASSWD = "my_internal_a_password"

# Secrets
APP_ID="myapp"
JWT_KEY="27c32d31port39f2111da0b1dea59e94f3ed715fd8cdf0ca3ecf354ca1a2e3e30"
