MIN_DATE="767214800"
EXPIRES="30"
URI_PROTO="https"
BASE_URI="github.com"
JITSI_URI="my.jit.si"
# Google recapthcha
GR_ENABLED=false
GR_VERSION=3
GR_SITE_KEY=""
#Defaults
DEFAULT_DATE="767214800"
#Mail server config
DISABLE_SMTP=true
SMTP_SRV="localhost"
SMTP_PORT="465"
SMTP_OPTIONS=""
SMTP_USR="foo"
SMTP_PWD="bar123&2026"
SMTP_TOPIC="You were suggested to a meeting"
#Secrets
APP_ID="myapp"
JWT_KEY="27c32d31dbdd39f2111da0b1dea59e94f3ed715fd8cdf0ca3ecf354ca1a2e3e30"
